@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
.mask-gradient {
  mask-image: linear-gradient(black 80%, transparent);
  -webkit-mask-image: linear-gradient(black 80%, transparent);
}
.cardGeneral {
  display: flex;
}

.cardParagraph {
  display: grid;
  grid-template-columns: repeat(2,1fr);
 
 
}

.cardAnimal:hover {
  @apply rounded-full bg-gradient-radial from-white to-[#C1BBBB];
}

.cardAnimalSelect {
  @apply rounded-full bg-gradient-radial from-white to-[#C1BBBB];
}